<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastro.component.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img src="../assets/bookstacked.png" alt="Logo do App" />
        </div>
    </div>
    <div class="cadastro-container">
        <h1>Cadastro</h1>
        <form (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Nome" name="nome" [(ngModel)]="dadosCadastro.nome" required>
            <input type="text" placeholder="Sobrenome" name="sobrenome" [(ngModel)]="dadosCadastro.sobrenome" required>
            <input type="email" placeholder="Email" name="email" [(ngModel)]="dadosCadastro.email" required>
            <input type="password" placeholder="Senha" name="senha" [(ngModel)]="dadosCadastro.senha" required>
            <input type="password" placeholder="Confirmar senha" name="senhaConfirmacao" [(ngModel)]="senhaConfirmacao" required (input)="verificarSenha()">

            <!-- Outros campos do formulário -->
            <button type="submit" [disabled]="senhasNaoCoincidem">Criar conta</button>
            <p *ngIf="senhasNaoCoincidem" class="erro-senha">As senhas não coincidem. Por favor, verifique.</p>
          </form>
    </div>
</body>
</html>