<div class="header">
    <div class="logo-container">
        <img src="../assets/bookstacked.png" alt="Logo do App" />
    </div>
    <div class="button-container">
        <button (click)="navigate('/login')">Login</button>
        <button (click)="navigate('/cadastro')">Cadastro</button>
    </div>
</div>

<div class="content-container" #content>
    <div class="background-image">
        <img [src]="imageUrl" [alt]="imageAlt" class="main-image">
    </div>

    <div class="gallery-container">
        <!-- Restante do conteúdo -->
        <div class="gallery-item">
            <!-- Aqui você pode adicionar o conteúdo que aparecerá sobre a imagem -->
        </div>
    </div>
    <h2>Sobre</h2>
    <p>
        O BookStacked revoluciona a maneira como as pessoas exploram suas estantes virtuais, oferecendo organização eficiente para coleções literárias. Com recomendações personalizadas, incentiva a diversificação de leitura. A plataforma social integrada permite compartilhar recomendações e participar de clubes de leitura. É mais que uma estante digital, é uma experiência que inspira a paixão pela leitura e a conexão entre os entusiastas literários.
    </p>

    <div class="featured-books">
        <h2>Livros em Destaque</h2>
        <div class="book-list">
            <!-- Livro 1 -->
            <div class="book-item">
                <img src="../assets/book1.jpg" alt="Livro 1">
                <h3>Harry Potter e o orgulho de Princepe</h3>
                <p>J. K. Rowling</p>
            </div>

            <!-- Livro 2 -->
            <div class="book-item">
                <img src="../assets/book2.jpg" alt="Livro 2">
                <h3>Cidade dos etéreos II</h3>
                <p>Ranson Riggs</p>
            </div>

            <!-- Livro 3 -->
            <div class="book-item">
                <img src="../assets/book3.jpg" alt="Livro 3">
                <h3>Divergente</h3>
                <p>Veronica Roth</p>
            </div>

            <!-- Livro 4 -->
            <div class="book-item">
                <img src="../assets/book3.jpeg" alt="Livro 4">
                <h3>O Jardim Secreto</h3>
                <p>Frances Hodgson Burnett</p>
            </div>
        </div>
    </div>


    <div class="comments">
        <h2>Comentários</h2>
        <div class="comment">
            <div class="user-info">
                <img src="../assets/avatar1.jpg" alt="Avatar">
                <span>GeoPotter</span>
            </div>
            <p>"Muito bom! Melhor site que já usei para ter noção de todos os livros que já li!"</p>
        </div>
        <div class="comment">
            <div class="user-info">
                <img src="../assets/avatar2.jpg" alt="Avatar">
                <span>Malitis.este6</span>
            </div>
            <p>"Ótimo site para me organizar com os livros. Recomendo!"</p>
        </div>
        <!-- Adicione mais comentários conforme necessário -->
    </div>
    <div class="featured-authors">
        <h2>Autores em Destaque</h2>
        <div class="author-list">
            <!-- Autor 1 -->
            <div class="author-item">
                <img src="../assets/author1.jpg" alt="Autor 1">
                <h3>J.K. Rowling</h3>
                <p>Conhecida mundialmente pela série de livros "Harry Potter", é uma autora britânica que criou um 
                    universo mágico extremamente popular. A série Harry Potter não apenas cativou todas as idades
                     abordando temas de amizade, coragem, amor e o eterno embate entre o bem e o mal.</p>
            </div>
    
            <!-- Autor 2 -->
            <div class="author-item">
                <img src="../assets/author2.jpg" alt="Autor 2">
                <h3>Stephen King</h3>
                <p>Um dos mestres contemporâneos do terror e do suspense, ele é um prolífico escritor americano.
                     Seus romances exploram o medo, o sobrenatural e o lado sombrio da psique humana. Obras notáveis
                      incluem "O Iluminado", "It - A Coisa", "Carrie, a Estranha", entre muitos outros. 
                      Sua habilidade em criar narrativas envolventes e personagens complexos é icônica.</p>
            </div>
    
            <!-- Autor 3 -->
            <div class="author-item">
                <img src="../assets/author3.jpg" alt="Autor 3">
                <h3>Agatha Christie</h3>
                <p>Reconhecida como a "Rainha do Crime", foi uma escritora britânica de romances policiais. 
                    Suas histórias apresentam personagens como Hercule Poirot e Miss Marple, investigadores talentosos que 
                    solucionam mistérios intricados. 
                    Seu estilo único de escrita e suas reviravoltas surpreendentes tornaram suas obras clássicos do gênero.</p>
            </div>
    
            <!-- Autor 4 -->
            <div class="author-item">
                <img src="../assets/author4.jpg" alt="Autor 4">
                <h3>Neil Gaiman</h3>
                <p>Neil Gaiman é um autor britânico conhecido por suas narrativas fantasiosas e mágicas. 
                    Ele escreve romances, quadrinhos, contos e roteiros para filmes e séries. 
                    Obras como "Deuses Americanos", "Coraline" e "Sandman" exploram temas como mitologia, 
                    fantasia e o mundo dos sonhos, ganhando reconhecimento pela originalidade e criatividade.</p>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="footer" [class.show]="showFooter"#footer>
    <p>© 2023 Keroly Andrade. Todos os direitos reservados. BookStacked</p>
</div>


