<div class="header">
    <div class="logo-container">
        <img src="../assets/bookstacked.png" alt="Logo do App" />
    </div>
    <div class="button-container">
        <button (click)="navigate('/login')">Login</button>
        <button (click)="navigate('/cadastro')">Cadastro</button>
    </div>
</div>


<div class="content-container">
    <div class="background-image">
        <img [src]="imageUrl" [alt]="imageAlt" class="main-image">
    </div>

    <div class="gallery-container">
        <!-- Restante do conteúdo -->
        <div class="gallery-item">
            <!-- Aqui você pode adicionar o conteúdo que aparecerá sobre a imagem -->
        </div>
    </div>
</div>

