body {
  font-family: 'Courier New', monospace;
  background-color: #e0d6b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.header {
  text-align: center;
}

.logo-container img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.content-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.background-image {
  position: relative;
}

.main-image {
  width: 100%;
  height: auto;
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
}

.main-image:hover {
  transform: scale(1.1);
  opacity: 1; /* Ao passar o mouse, a imagem fica com opacidade total */
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 0 10px 20px;
}
/* Seção anterior continua... */

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.button-container button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #8b572a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #694023;
}

/* Seção seguinte continua... */
