<div class="header">
    <div class="logo-container">
        <img src="../assets/bookstacked.png" alt="Logo do App" />
    </div>
    <div class="button-container">
        <button (click)="navigate('/login')">Login</button>
        <button (click)="navigate('/cadastro')">Cadastro</button>
    </div>
</div>

<div class="content-container">
    <div class="background-image">
        <img [src]="imageUrl" [alt]="imageAlt" class="main-image">
    </div>

    <div class="gallery-container">
        <!-- Restante do conteúdo -->
        <div class="gallery-item">
            <!-- Aqui você pode adicionar o conteúdo que aparecerá sobre a imagem -->
        </div>
    </div>
    <h2>Sobre</h2>
<p>
    O BookStacked revoluciona a maneira como as pessoas exploram suas estantes virtuais, oferecendo organização eficiente para coleções literárias. Com recomendações personalizadas, incentiva a diversificação de leitura. A plataforma social integrada permite compartilhar recomendações e participar de clubes de leitura. É mais que uma estante digital, é uma experiência que inspira a paixão pela leitura e a conexão entre os entusiastas literários.
</p>


</div>
